:root {
    --main: #ffb7c5;
    --dark: #1c1c1c;
    --light: #ffffff;
    --error: #00483a;
}

* {
    overflow: hidden;
    user-select: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    color: var(--dark);
}

h1 {
    margin: 0;
    color: var(--light);
    animation: glow 5s infinite ease-in-out;
}

.bigger {
    transform: scale(1.1);
    filter: brightness(1.1);
}

.show {
    display: block;
}

.hide {
    display: none;
}

@keyframes glow {
    0% {
        text-shadow: var(--light) 0px 0px 10px;
    }

    25% {
        text-shadow: var(--main) 0px 0px 40px;
    }

    50% {
        text-shadow: var(--light) 0px 0px 10px;
    }

    75% {
        text-shadow: var(--main) 0px 0px 40px;
    }

    100% {
        text-shadow: var(--light) 0px 0px 10px;
    }
}