body {
    background-color: var(--main);
}

button {
    border: var(--light) 1px;
    padding: .5%;
    border-radius: 10%;
}

.undragable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.notification {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    color: var(--error);
    border-radius: 4px;
    z-index: 999;
}

.small-number {
    position: fixed;
    opacity: 0.7;
    animation: moveup 1s 1 normal;
}

.potato-helper {
    width: 10%;
    height: auto;
    position: absolute;
    animation: shake 4s infinite normal;
    z-index: -1;
}

#container,
#main-game {
    display: flex;
    flex-direction: column;
}

#main-game {
    align-items: center;
    justify-content: center;
}

#clicker {
    cursor: pointer;
    position: relative;
}

#exit {
    position: relative;
    width: 100%;
    height: 20%;
}

#helper button {
    float: right;
}

#friends,
#overlay {
    position: fixed;
}

#friends,
#friends table,
#friends button {
    z-index: 99;
}

#friends {
    border-radius: 10px;
    padding: 20px;
    z-index: 99;
    left: 7.758%;
    top: 20%;
    width: 80%;
}

#overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark);
    filter: opacity(0.4);
}

#loginContainer {
    position: absolute;
    top: 40%;
}

#login {
    position: relative;
    z-index: 99;
}

#login p,
#login input,
#login button {
    width: 100%;
}

#friends table {
    position: relative;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px dashed var(--light);
    text-align: center;
}

#friends tr:nth-child(odd) th {
    color: var(--light)
}

#friends tr:nth-child(even) {
    background-color: var(--light)
}

#friends table button {
    margin: auto;
    display: block;
    position: relative;
    width: 100%;
}

#potato-image:hover {
    animation: shake 2s infinite normal;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes spin {
    25% {
        transform: rotate(40deg) scaleY(0.8);
    }

    50% {
        transform: rotate(-40deg) scaleY(1.1);
    }

    100% {
        transform: rotate(720deg);
        filter: opacity(0.7);
    }
}

@keyframes moveup {
    0% {
        top: 20%;
    }

    100% {
        top: 0%;
    }
}

@keyframes movedown {
    0% {
        top: 0%;
    }

    100% {
        top: 20%;
    }
}