body {
    background-color: var(--main);
}

#container {
    display: flex;
    flex-direction: column;
}

#main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clicker {
    cursor: pointer;
}


#potato-image.bigger {
    transform: scale(1.1);
    filter: brightness(1.1);
}

#potato-image:hover {
    animation: shake 2s infinite normal;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    50% {
        transform: rotate(5deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes spin {
    0% {
        
    }

    25% {
        transform: rotate(40deg) scaleY(0.8);
    }

    50% {
        transform: rotate(-40deg) scaleY(1.1);
    }

    100% {
        transform: rotate(720deg);
        filter: opacity(0.7);
    }
}